{% extends '::base.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            {% for path in paths %}
                <tr>
                    <td>{{ path.name }}</td>
                    <td><a href="{{ path('admin_paths_edit', { id: path.id }) }}">Editer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
